/* *{
    margin: 0;
    padding: 0;
} */


.white{
    background-color: #f0d9b5;
    height: 100px;
    width: 100px;
}

.black{
    background-color: #b58863;
    height: 100px;
    width: 100px;
}

.chess{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}